
.panel-default>.table>thead{
    background-color: #a4aeb9;
}

.panel-default>.panel-heading {
color: #333;
background-color: #a4aeb9;
border-color: #ddd;
height: 31px;
padding: 1.5px 0px;
}


.table>thead>tr>th {
    border-bottom: 2px solid #93999e;
}

.panel-default th{
   color: white;
}

.title{
    font-size: 26px;
    font-style: Arial;
    color: #24B8EC;
    padding: 3px 0; 
    margin: 2px 0;
}

.panel-default .scroll{
    height: 160px;
    overflow: scroll;

}

.panel-default .scroll2{
    height: 140px;
    overflow: scroll;
    display: block;
}



.panel-default .fundamental_scroll{
    height: 160px;
    overflow: scroll;
    display: block;
    margin: 0px;
}


.panel-default .table_style{
     margin: 0px;
}

