<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Course Planner</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/data.json"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/underscore.js"></script>
    
    <script src= "js/app.js"></script>
    <script src="js/controllers.js"></script>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	   
  </head>
	<body>

    <div class = "container"><!-- start of container-->
    <!-- Fundamental Courses Section -->
     <div class="row">
      <div class="title">
       Fundamental Courses
      </div> 

      <div class ="panel panel-default" ng-controller="fundmentalCourses">
        <div class="panel-heading">
			<div class="row">
				<div class="col-xs-1">
					<h3 class="panel-title">Area</h3>
				</div>
				<div class="col-xs-1">
					<h3 class="panel-title">Level</h3>
				</div>
				<div class="col-xs-10">
					<h3 class="panel-title">Courses</h3>
				</div>
			</div>
		</div>
 
	  <div class="panel-body"  style="font-size: 12px; padding: 4px;">
	  	<div class="col-xs-1 rows-striped_1 fundamental_courses "  style="border-right: 1px solid #e1e4e9;">
			<div class="row course_code" ng-repeat="area in areas">
				<div style="text-align: center;" ng-click="getLevels(area)">{{area}}</div>
			</div>
	  	</div>
	  	<div class="col-xs-1 rows-striped_1 fundamental_courses" style="border-right: 1px solid #e1e4e9;">
		  	<div class = "row course_code" ng-repeat="level in levels">
		  		<div style="text-align: center;" ng-click="getCourses(level)">{{level}}</div>	
		  	</div>
	  	</div>
	  	<div class="col-xs-10 rows-striped fundamental_courses" >
			<div class="row course_margin" ng-repeat="course_row in course_set">
				<!---put this style in style sheet!-->
				<div class="thumbnail-group flex-left"  ng-repeat="course in course_row" style="float:left;display:inline-block">
					<div class="thumbnail course-block block-success">
						<div class="course">
							<span class="glyphicon glyphicon-remove-circle"></span>
							<label class="courseCode">{{course.course_code}}</label>
							<label class="courseDesc"><small>{{course.short_description}}</small></label>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
    </div> <!-- end of the row -->
   </div>


<!-- Area Courses Section -->
	<div class="row">
      <div class="title">
       Advanced Area Courses
      </div> 
      <div class ="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-2">
					<h3 class="panel-title">Area</h3>
				</div>
				<div class="col-xs-10">
					<h3 class="panel-title">Courses</h3>
				</div>
			</div>
		</div>
        
 
	  <div class="panel-body"  style="font-size: 12px; padding: 4px;">
	  	<div class="col-xs-2 rows-striped_1 fundamental_courses" style="border-right: 1px solid #e1e4e9;">
		  	<div class = "row area_code">
		  		<div>Scientific Computing</div>	
		  	</div>
		  	<div class = "row area_code">
		  		<div>Artificial Intelligence</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>Natural Language Processing</div>	
		  	</div>
		  	<div class = "row area_code">
		  		<div>Computer Vision</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>Computer System</div>	
		  	</div>
		  	<div class = "row area_code">
		  		<div>Video Game</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>Human-Computer Interaction</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>Theory of Computation</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>Web Technologies</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>MAT Electives</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>STA Electives</div>
		  	</div>
		  	<div class = "row area_code">
		  		<div>ECE&BCB Electives</div>
		  	</div>

	  	</div>
	  	<div class="col-xs-10 rows-striped fundamental_courses">
		<div class="row course_margin">
			<div class="thumbnail-group flex-left">
				<div class="thumbnail course-block block-success">
					<div class="course">
						<span class="glyphicon glyphicon-remove-circle"></span>
						<label class="courseCode">CSC 343</label>
						<label class="courseDesc"><small>C Programming</small></label>
					</div>
				</div>
				<div class="thumbnail course-block block-success">
					<div class="course">
						<span class="glyphicon glyphicon-remove-circle"></span>
						<label class="courseCode">CSC 343</label>
						<label class="courseDesc"><small>C Programming</small></label>
					</div>
				</div>
				<div class="thumbnail course-block block-success">
				</div>
				<div class="thumbnail course-block block-success">
				</div>
			</div>
		</div>
		
		<div class="row course_margin">
				<div class="thumbnail-group flex-left">
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
				</div>
		</div>
		
		<div class="row course_margin">
				<div class="thumbnail-group flex-left">
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
				</div>
		</div>
		
		<div class="row course_margin">
				<div class="thumbnail-group flex-left">
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
				</div>
		</div>
		<div class="row course_margin">
				<div class="thumbnail-group flex-left">
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
					<div class="thumbnail course-block block-success">
					</div>
				</div>
		</div>	
	 </div>
	</div>
    </div> <!-- end of the row -->
   </div>
  




<!-- Plan your Timetable Section -->

	 
	<div class="row">
		<div class="title">Plan your timetable <span class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="Tool tips for Plan your time table"></span></div>

		<div class="panel panel-default">
			
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
						<h3 class="panel-title">Saved Course</h3>
					</div>
					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-3">
								<h3 class="panel-title">Session</h3>
							</div>
							<div class="col-xs-9">
								<h3 class="panel-title">Course List</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body no-padding">
				<div class="col-xs-4 col-savedcourse" style="font-size: 12px;">
					<div class="row">
						
						<div class="panel-group accordion-menu" id="menu-savedCourse" role="tablist" aria-multiselectable="true">
							
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-course100">
									<h4 class="panel-title" data-toggle="collapse" data-parent="#menu-savedCourse" href="#collapse-courses100" aria-expanded="true" aria-controls="collapse 100 level courses">100 Level</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapse-courses100" role="tabpanel" aria-labelledby="heading-courses100">
									<div class="panel-body">
										<div class="thumbnail-group flex-center">
											<div class="thumbnail course-block" id="drag1" draggable="true"
ondragstart="drag(event)">
												<div class="course selected" >
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											
											<div class="thumbnail course-block">
												<div class="course selected">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-course200">
									<h4 class="panel-title" data-toggle="collapse" data-parent="#menu-savedCourse" href="#collapse-courses200" aria-expanded="true" aria-controls="collapse 200 level courses">200 Level</h4>
								</div>
							
								<div class="panel-collapse collapse" id="collapse-courses200" role="tabpanel" aria-labelledby="heading-courses200">
									<div class="panel-body">
										<div class="thumbnail-group flex-center">
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-course300">
									<h4 class="panel-title" data-toggle="collapse" data-parent="#menu-savedCourse" href="#collapse-courses300" aria-expanded="true" aria-controls="collapse 300 level courses">300 Level</h4>
								</div>
							
								<div class="panel-collapse collapse" id="collapse-courses300" role="tabpanel" aria-labelledby="heading-courses300">
									<div class="panel-body">
										<div class="thumbnail-group flex-center">
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-course400">
									<h4 class="panel-title" data-toggle="collapse" data-parent="#menu-savedCourse" href="#collapse-courses400" aria-expanded="true" aria-controls="collapse 400 level courses">400 Level</h4>
								</div>
							
								<div class="panel-collapse collapse" id="collapse-courses400" role="tabpanel" aria-labelledby="heading-courses400">
									<div class="panel-body">
										<div class="thumbnail-group flex-center">
											<div class="thumbnail course-block">
												<div class="course">
													<span class="glyphicon glyphicon-remove-circle"></span>
													<label class="courseCode">CSC 343</label>
													<label class="courseDesc"><small>C Programming</small></label>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div><!-- End of Savd Course Panel -->
				<div class="col-xs-8 rows-striped col-courselist">
					<div class="row">
						<div class="col-xs-3 col-session">2012, 9</div>
						<div class="col-xs-9">
							<div class="thumbnail-group flex-left">
								<div class="thumbnail course-block block-success">
									<div class="course" data-toggle="modal" data-target="#coursePropModal">
										<span class="glyphicon glyphicon-remove-circle"></span>
										<label class="courseCode">CSC 343</label>
										<label class="courseDesc"><small>C Programming</small></label>
									</div>
								</div>
								
								<div class="thumbnail course-block block-success">
									<div class="course" data-toggle="modal" data-target="#coursePropModal">
										<span class="glyphicon glyphicon-remove-circle"></span>
										<label class="courseCode">CSC 343</label>
										<label class="courseDesc"><small>C Programming</small></label>
									</div>
								</div>
								
								<div class="thumbnail course-block block-danger" data-toggle="tooltip" data-placement="bottom" title="This CSC343 does not offer this semester, please fill in other spots.">
								</div>
								
								<div class="thumbnail course-block block-danger" data-toggle="tooltip" data-placement="bottom" title="This CSC343 does not offer this semester, please fill in other spots.">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-session">2013, 5</div>
						<div class="col-xs-9">
							<div class="thumbnail-group flex-left">
								<div class="thumbnail course-block block-success">
									
									<div class="course" data-toggle="modal" data-target="#coursePropModal">
										<span class="glyphicon glyphicon-remove-circle"></span>
										<label class="courseCode">CSC 343</label>
										<label class="courseDesc"><small>C Programming</small></label>
									</div>
								</div>
								
								<div class="thumbnail course-block block-success">
								</div>
								
								<div class="thumbnail course-block block-success">
								</div>
								
								<div class="thumbnail course-block block-danger"  data-toggle="tooltip" data-placement="top" title="This CSC343 does not offer this semester, please fill in other spots.">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-session">2013, 9</div>
						<div class="col-xs-9">
							<div class="thumbnail-group flex-left">
								<div class="thumbnail course-block block-success">
									<div class="course" data-toggle="modal" data-target="#coursePropModal">
										<span class="glyphicon glyphicon-remove-circle"></span>
										<label class="courseCode">CSC 343</label>
										<label class="courseDesc"><small>C Programming</small></label>
									</div>
								</div>
								<div class="thumbnail course-block block-success">
									<div class="course" data-toggle="modal" data-target="#coursePropModal">
										<span class="glyphicon glyphicon-remove-circle"></span>
										<label class="courseCode">CSC 343</label>
										<label class="courseDesc"><small>C Programming</small></label>
									</div>
								</div>
								<div class="thumbnail course-block block-success">
									<div class="course">
										<span class="glyphicon glyphicon-remove-circle"></span>
										<label class="courseCode">CSC 343</label>
										<label class="courseDesc"><small>C Programming</small></label>
									</div>
								</div>
								<div class="thumbnail course-block block-success" ondrop="drop(event)" ondragover="allowDrop(event)">
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-3 col-session">2014, 5</div>
						<div class="col-xs-9">
							<div class="thumbnail-group flex-left">
								<div class="thumbnail course-block block-success">
								</div>
								<div class="thumbnail course-block block-success">
								</div>
								<div class="thumbnail course-block block-success">
								</div>
								<div class="thumbnail course-block block-success">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-session">2014, 9</div>
						<div class="col-xs-9">
							<div class="thumbnail-group flex-left">
								<div class="thumbnail course-block block-success">
								</div>
								<div class="thumbnail course-block block-success">
								</div>
								<div class="thumbnail course-block block-success">
								</div>
								<div class="thumbnail course-block block-success">
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
	
		<div class="title">Graduation Requirement <span class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="Tool tips for Graduation Requirement"></span></div>

		<div class="panel panel-default">
			
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
						<h3 class="panel-title">Saved Course</h3>
					</div>
					<div class="col-xs-8">
						<h3 class="panel-title">Course List</h3>
					</div>
				</div>
			</div>
			<div class="panel-body rows-striped">
				<div class="row">
					<div class="col-xs-4 col-session">Required CSC <span class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="Tool tips for Required CSC"></span></div>
					<div class="col-xs-8">
						<div class="thumbnail-group flex-left">
							<div class="thumbnail course-block block-success">
								<div class="course">
									<span class="glyphicon glyphicon-remove-circle"></span>
									<label class="courseCode">CSC 343</label>
									<label class="courseDesc"><small>C Programming</small></label>
								</div>
							</div>
							<div class="thumbnail course-block block-success">
								<div class="course">
									<span class="glyphicon glyphicon-remove-circle"></span>
									<label class="courseCode">CSC 343</label>
									<label class="courseDesc"><small>C Programming</small></label>
								</div>
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4  col-session">Required MAT/STA <span class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="Tool tips for Required MAT/STA"></span></div>
					<div class="col-xs-8">
						<div class="thumbnail-group flex-left">
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4  col-session">CSC/ECE/BCB 400+ <span class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="Tool tips for CSC/ECE/BCB 400+"></span></div>
					<div class="col-xs-8">
						<div class="thumbnail-group flex-left">
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-4  col-session">CSC Electives <span class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="Tool tips for ECE Elective"></span></div>
					<div class="col-xs-8">
						<div class="thumbnail-group flex-left">
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4  col-session">MAT/STA Electives <span class="glyphicon glyphicon-question-sign"  data-toggle="tooltip" data-placement="top" title="Tool tips for MAT/STA Electives"></span></div>
					<div class="col-xs-8">
						<div class="thumbnail-group flex-left">
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
							<div class="thumbnail course-block block-success">
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>

	<!-- Modal -->
	<div class="modal fade" id="coursePropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><span class="glyphicon glyphicon-remove-circle"></span></span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="coursePropModalLabel">CSC 428H1 Human-Computer interaction</h3>
		  </div>
		  <div class="modal-body">
			<h4 class="modal-subtitle">Description</h4>
			<p>Understanding humanbehaviour as it applies to user intefaces: work activity analysis, observation ... </p>
			<h4 class="modal-subtitle">Prerequisite:</h4>
			<p><span class="courseTag tag-success">CSC 318</span> ; ( <span class="courseTag">STA 247</span> / <span class="courseTag tag-selected">STA 255</span> ) / ( <span class="courseTag">PSY 201</span> ; <span class="courseTag tag-success">SOC 201</span> ) </p>
			<h4 class="modal-subtitle">Exclusion:</h4>
			<p><span class="courseTag">CSC 447</span></p>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-theme">Add to List</button>
		  </div>
		</div>
	  </div>
	</div>
	 
	 
	 
	 
	</div><!-- end of container-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/jquery/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
    <script>

    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("id", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("id");
      ev.target.appendChild(document.getElementById(data));
    }

    </script>
	
	<script>
		
		$(document).ready(function (){
			$('.course-block').click(function (event){
				$(event.target).closest('.course').toggleClass('selected');
			})
			
			$('.course-block, .glyphicon-question-sign').tooltip()
		})
	
	</script>

  </body>
</html>